#uno {
   background-color: #eaecee;
}
#ConPantalla {
   text-align: right;
   color: #fff;

   background-color: #c99f4b;
   font-size: 120%;
}

#teclas {
   border-color: #767168;
   border-width: 1px;
   border-style: solid;
}
#teclas div {
   margin-bottom: 20px;
}
#teclas button {
   color: #e9ffca;
   margin: 5px 2px;
   padding: 15px 25px;
   font-size: 20px;
   background-color: #60c0ff;
   border: none;
}

#teclas button:hover {
   box-shadow: 0px 0px 20px #4ed9ff;
}

#Botones button {
   margin: 25px 5px;
   padding: 20px 25px;
   font-size: 20px;
   border: none;
}

#Bo1 {
   background-color: #19bc41;
   border: none;
}
#Bo1:hover {
   box-shadow: 0px 0px 20px #42d967;
}
#Bo2 {
   background-color: #f0d30d;

   border: none;
}
#Bo2:hover {
   box-shadow: 0px 0px 20px #f4e059;
}
#Bo3 {
   background-color: #f12626;
   border: none;
}
#Bo3:hover {
   box-shadow: 0px 0px 20px #ff0000;
}
