#caja {
   background-color: #b5e4ff;
}
#valCaja {
   height: 55%;
}
#valCaja input {
   width: 80%;

   margin: 10px 15px;
   text-align: center;
}

#valCaja p {
   margin: 5px 25px;
}
#valCaja div {
   width: 30%;
   float: left;
}

#caja button {
   color: #fff;
   background-color: #898f93;
   border: none;
}
#caja button:hover {
   box-shadow: 0px 0px 20px #8aa2b2;
}

#datoCaja1 {
   float: left;
}
#datoCaja2 {
   float: right;
}
#datoCaja2 button {
   width: 65px;
   height: 35px;
   margin: 5px 25px;
   float: right;
}
#datosUsua div {
   text-align: center;

   border-color: #aaaaaa;
   border-width: 1px;
   border-style: solid;
}
