/* Importacion de la fuente */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');
/* Variables de los colores */
:root {
   --color-white: #fff;
   --color-black: #000;
   --color-primary: #ffd000;
   --color-secondary: rgb(14, 20, 27);
   --color-text: #363636;
}
/* Estilos generales de la pagina */
* {
   margin: 0;
   padding: 0;
   font-family: 'Open Sans', sans-serif;
}
.header {
   background-color: rgb(247, 247, 247);
   display: flex;
   align-items: center;
   height: 100px;
}
.header__titulo {
   font-size: 30px;
   color: var(--color-text);
}
.container {
   min-height: calc(100vh - 100px - 80px);
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 25px;
   margin: 15px 20px 0px;
}

.container__cajero {
   width: 320px;
   max-height: 550px;
   background-color: red;
   grid-row: 1/3;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
}
.container__cajero__pantalla {
   width: 90%;
   min-height: 30px;
   background-color: yellow;
   margin-bottom: 30%;
}
.container__cajero__teclado {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 20px;
}
.cajero__teclas_n {
   display: grid;
   grid-template-columns: 70px 70px 70px;
   grid-template-rows: 70px 70px 70px 70px;
   grid-gap: 5px;
}
.btn__cajero__numeros {
   justify-self: stretch;
   align-self: stretch;
}
.btn__cajero__numeros:last-child {
   grid-column: 2 / 3;
}
.cajero__teclas__aciones {
   display: grid;
   grid-template-rows: repeat(3, 1fr);
}
.btn__cajero__acciones {
   width: 70px;
   height: 70px;
}

.container__datos {
   grid-column: 2 / 4;
}
.container__cajaDeRetiro {
   background-color: red;
   grid-column: 2 / 4;
}

.footer {
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.footer > a {
   text-decoration: none;
   color: var(--color-text);
   font-size: 20px;
}
.footer > a:hover {
   text-decoration: underline;
}

@media (max-width: 768px) {
   .container {
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 30px;
   }
   .container > div {
      grid-column: 1/2;
   }
   .container__cajero {
      width: auto;
   }
}
