/* Importacion de la fuente */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');
/* Variables de los colores */
:root {
   --color-white: #fff;
   --color-black: #000;
   --color-primary: #ffd000;
   --color-secondary: rgb(14, 20, 27);
   --color-text: #363636;
}
/* Estilos generales de la pagina */
* {
   margin: 0;
   padding: 0;
   font-family: 'Open Sans', sans-serif;
}
.header {
   background-color: rgb(247, 247, 247);
   display: flex;
   align-items: center;
   /* padding: 20px; */
   height: 100px;
}
.header__titulo {
   font-size: 30px;
   color: var(--color-text);
}
.container {
   min-height: calc(100vh - 100px - 50px);
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}
.container__datos {
   grid-column: 2 / 4;
}
.container__cajaDeRetiro {
   grid-column: 1 / 4;
   background-color: #ffd000;
}

.footer {
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.footer > a {
   text-decoration: none;
   color: var(--color-text);
   font-size: 20px;
}
.footer > a:hover {
   text-decoration: underline;
}
